---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="testimonials">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        We have some fans.
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Sofiya J.</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Freelance writer</p>
          </div>
        </div>
        <p class="mt-8">I saved so much time and money by using PretzelBox instead of Google Workspace. For where my freelancing business is, PretzelBox has worked really well.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-1.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Sandhya K.</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Teacher</p>
          </div>
        </div>
        <p class="mt-8"> PretzelBox saved my sanity. My students mail assignments to different inboxes which makes it really simple to review assignments for different classes without setting up complicated inbox rules.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Andrei W.</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Solo Founder</p>
          </div>
        </div>
        <p class="mt-8">I have had my family's domain on PretzelBox for months now and everything just works. The entire experience has been very smooth and hasslefree..</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-3.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Roshni A.</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Student</p>
          </div>
        </div>
        <p class="mt-8">Enjoying it so far. It was so cool to be able to put a professional email address on my resume.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-4.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Md. Saif</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Upworker</p>
          </div>
        </div>
        <p class="mt-8"> For what it does, I'm a very happy paying customer.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Austin Z.</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Software Developer, Microsoft</p>
          </div>
        </div>
        <p class="mt-8">My church uses this to keep track vendors and services. Happy user.</p>
      </div>

    </div>
    <div class="text-center">
      <h2 class="text-center text-xl font-bold text-gray-800 dark:text-white md:text-2xl mt-8">
        Proudly supporting users from these brands
      </h2>
      <div class="mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 bg-green-50">
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./images/clients/microsoft.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
          </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <img src="./images/clients/birchstone.png" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
          <img src="./images/clients/upwork.png" class="h-9 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./images/clients/tm.png" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
          </div>
          <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
            <img src="./images/clients/yc.png" class="h-8 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
          </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./images/clients/google-cloud.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
      </div>
    </div>
  </Container>
</div>
