---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro"
---


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content="Send and receive emails from your domains, publish blogs, sell downloadable content and worksheets, share emails on WhatsApp, all from your basic Gmail">
    <meta charset="utf-8">
		<title>PretzelBox - do more from your basic Gmail account</title>

		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Send and receive emails from your domains, publish blogs, sell downloadable content and worksheets, share emails on WhatsApp, all from your basic Gmail">
    <meta name="twitter:title" content="PretzelBox - do more from your basic Gmail account">
    <meta name="twitter:site" content="@pretzelboxcc">
    <meta name="twitter:image" content="https://pretzelbox.cc/images/logo.png">
    <meta name="twitter:creator" content="@pretzelboxcc">
    <meta property="og:title" content="PretzelBox - do more from your basic Gmail account">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://pretzelbox.cc/">
    <meta property="og:image" content="https://pretzelbox.cc/images/logo.png">
    <meta property="og:description" content="Send and receive emails from your domains, publish blogs, sell downloadable content and worksheets, share emails on WhatsApp, all from your basic Gmail">
    <meta property="og:site_name" content="Pretzel Box">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script data-goatcounter="https://pretzelbox.goatcounter.com/count" async="async" src="//gc.zgo.at/count.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
  </head>
	<body class="bg-white dark:bg-gray-900">
		<AppHeader/>
		<slot />
		<AppFooter/>
	</body>
</html>
<style>
	html {
		font-family: Urbanist, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
	}
</style>
